.books-list {
  list-style: none;
}

.book-id {
  background-color: #747264;
  border-radius: 7px;
  color: #eeedeb;
  cursor: pointer;
  display: inline-block;
  padding: 5px 22px;
  width: 10px;
}

.book-name {
  background-color: #eeedeb;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 10px;
  padding: 7px 22px;
}

.delete-button {
  background-color: #9b4444;
  border-radius: 7px;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px 0 10px;
  padding: 5px 23px;
}

.message-event {
  background: #eeedeb;
  border: 1px solid #747264;
  border-radius: 20px;
  color: #3c3633;
  font-family: fantasy;
  margin: 0px 30px;
  padding: 10px 50px;
  text-align: center;
}
