.books-list {
  list-style: none;
}

.book-id {
  background-color: #747264;
  border-radius: 7px;
  color: #eeedeb;
  cursor: pointer;
  display: inline-block;
  padding: 5px 22px;
  width: 10px;
}

.book-name {
  background-color: #eeedeb;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 10px;
  padding: 7px 22px;
}

.delete-button {
  background-color: #9b4444;
  border-radius: 7px;
  color: #eeeeee;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px 0 10px;
  padding: 5px 23px;
}

.message-event {
  background: #eeedeb;
  border: 1px solid #747264;
  border-radius: 20px;
  color: #3c3633;
  font-family: fantasy;
  margin: 0px 30px;
  padding: 10px 50px;
  text-align: center;
}

.add-book {
  background: #747264;
  border: 1px solid #eeedeb;
  margin: 10px;
  padding: 10px;
}

.add-book-label {
  color: #eeedeb;
  font-size: 20px;
  margin: 0 10px;
}

.add-book-input {
  border-radius: 5px;
  font-family: monospace;
  height: 30px;
  margin: 5px 10px;
  padding: 0px 10px;
  width: 500px;
}

.add-book-button {
  background-color: #eeedeb;
  border-radius: 7px;
  color: #747264;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  height: 37px;
  padding: 5px 22px;
  width: 100px;
}
